* {
  background-color: #eceff1;
}

.primary-bg-color {
  background-color: #001965;
}
.secondary-bg-color {
  background-color: #f0bd2d;
}
.tertiary-bg-color {
  background-color: #eceff1;
}
.primary-text-color {
  color: #001965;
}
.secondary-text-color {
  color: #f0bd2d;
}
.tertiary-text-color {
  color: #eceff1;
}

.sideDiv {
  width: 30%;
}

.mainDiv {
  width: 70%;
}

input::placeholder {
  font-size: 20px;
  color: white;
}

.hover {
  color: #02103b;
}
